name: CI

on: 
  push:
  pull_request:
  workflow_dispatch:
  
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest , macos-11, windows-latest]
        perl: ['5.14', '5.30', '5.36']
        exclude:
          - runner: windows-latest
            perl: '5.36'

    runs-on: ${{matrix.runner}}
    name: ${{matrix.runner}} Perl ${{matrix.perl}}

    steps: 
    - uses: actions/checkout@v3

    - name: Set up perl
      uses: shogo82148/actions-setup-perl@v1
      with:
        perl-version: ${{ matrix.perl }}
        distribution: ${{ (matrix.runner == 'windows-latest' && 'strawberry') || 'default' }}
    - name: Show Perl Version
      run: |
        perl -v 
    
    - name: Install deps.
      env:
        AUTHOR_TESTING: 1
        RELEASE:TESTING: 1
      run: | 
        cpanm Module::Build --notest
        perl Build.PL
        ./Build installdeps --cpan_client 'cpanm --notest' 
        
    - name: Show Errors on Windows 
      if: ${{ failure() &&  matrix.runner ==  'windows-latest')}}
      run: |
        ls -l C:/Users/
        ls -l C:/Users/RUNNER-1
        cat /Users/runneradmin/.cpanm/work/*/build.log
        
    - name: Show Errors on Ubuntu 
      if: ${{ failure() && startsWith( matrix.runner, 'ubuntu-')}}
      run: |
        cat /home/runner/.cpanm/work/*/build.log
        
    - name: Show Errors on OSX
      if: ${{ failure() && startsWith( matrix.runner, 'macos-')}}
      run: |
        cat /User/runner/.cpanm/work/*/build.log

    - name: Run tests

      run: | 
        ./Build test
  
