name: CI

on: 
  push:
  pull_request:
  workflow_dispatch:
  
jobs:
  test:
    strategy:
      matrix:
        runner: [ubuntu-latest , macos-latest, windows-latest]
        perl: ['5.14', '5.30', '5.36']
        exclude:
          - runner: windows-latest
            perl: '5.36'

    runs-on: ${{matrix.runner}}
    name: ${{matrix.runner}} Perl {{matrix.perl}}

    steps: 
    - uses: actions/checkout@v3

    - name: Set up perl
      uses: shogo82148/actions-setup-perl@v1
      with:
        perl-version: ${{ matrix.perl }}
        distribution: ${{ (matrix.runner == 'windows-latest' && 'strawberry') || 'default' }}
    - name: Show Perl Version
      run: |
        perl -v 
    
    - name: Install deps.
      run: | 
        cpanm Module::Build
        perl Build.PL
        ./Build installdeps --cpan_client 'cpanm --notest' 
  
    - name: Run tests
      env:
        AUTHOR_TESTING: 1
        RELEASE:TESTING: 1
      run: | 
        ./Build test
  
